name: lint
on:
  pull_request:
    paths-ignore:

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
            toolchain: 1.58.0
            override: true
            components: rustfmt, clippy

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    runs-on: ubuntu-latest
    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_BUCKET: promscale-extension-sccache
      AWS_ACCESS_KEY_ID: ${{ secrets.PROMSCALE_EXTENSION_SCCACHE_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.PROMSCALE_EXTENSION_SCCACHE_AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
            toolchain: 1.58.0
            override: true
            components: rustfmt, clippy

      - name: Setup sccache
        run: |
          curl -L "https://github.com/mozilla/sccache/releases/download/v0.2.15/sccache-v0.2.15-x86_64-unknown-linux-musl.tar.gz" | tar zxf -
          chmod +x sccache-*/sccache
          sudo mv sccache-*/sccache /usr/local/bin/sccache
          sccache --show-stats

      - uses: Swatinem/rust-cache@v1

      - name: Install cargo-pgx
        run: |
          ./install-cargo-pgx.sh

      - name: Initialize pgx
        uses: actions-rs/cargo@v1
        with:
          command: pgx
          args: init --pg14 download
      
      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --features pg14 -- -D warnings

  pgspot:
    runs-on: ubuntu-latest
    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_BUCKET: promscale-extension-sccache
      AWS_ACCESS_KEY_ID: ${{ secrets.PROMSCALE_EXTENSION_SCCACHE_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.PROMSCALE_EXTENSION_SCCACHE_AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout extension code
        uses: actions/checkout@v3

      - name: Setup python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Checkout pgspot
        uses: actions/checkout@v3
        with:
          repository: 'timescale/pgspot'
          ref: '0.2.0'
          path: 'pgspot'

      - name: Install pgspot dependencies
        run: python -m pip install -r pgspot/requirements.txt

      - name: Setup sccache
        run: |
          curl -L "https://github.com/mozilla/sccache/releases/download/v0.2.15/sccache-v0.2.15-x86_64-unknown-linux-musl.tar.gz" | tar zxf -
          chmod +x sccache-*/sccache
          sudo mv sccache-*/sccache /usr/local/bin/sccache
          sccache --show-stats

      - uses: Swatinem/rust-cache@v1

      - name: Install cargo-pgx
        run: |
          ./install-cargo-pgx.sh

      - name: Initialize pgx
        uses: actions-rs/cargo@v1
        with:
          command: pgx
          args: init --pg14 download

      - name: Prepare control file
        run: make promscale.control

      - name: Generate schema
        uses: actions-rs/cargo@v1
        with:
          command: pgx
          args: schema pg14 --out /tmp/schema.sql

      - name: Run pgspot
        run: ./pgspot/pgspot --sql-accepting=execute_everywhere --sql-accepting=distributed_exec --ignore PS005 /tmp/schema.sql ./sql/promscale--0.0.0.sql
